<% include head %>
<div class="jumbotron" style="padding-bottom: 70px;">
    <h2 style="text-align: center">Bonjour <%= user.prenom %> </h2>
    <img src="">
    <div class="col-xs-12 text-center">
        <a class="btn btn-lg btn-success" href="./paint.php" role="button">Dessiner</a>

    </div>
</div>