<% include head %>
<div class="jumbotron">
    <h2>Mon dessin</h2>
    <div class="row">
        <div class="col-xs-6 text-center">
            <canvas width="350" height="350" id="canvas" style="border: 1px solid grey;background-color: white"></canvas>
        </div>
        <div class="col-xs-6">
            <form class="form-horizontal" action="./paint" method="post">
                <div class="form-group">
                    <label for="taille">Taille : <span id="size">8</span></label>
                    <input type="range" name="taille" id="taille" min="8" max="80" value="8" step="6" oninput="document.getElementById('size').textContent=value"/>
                </div>
                <div class="form-group">
                    <label for="couleur" class="col-sm-2 control-label">Couleur</label>
                    <div class="col-sm-10">
                        <input type="color" name="couleur" id="couleur" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="picturename" class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        <input type="text" name="picturename" id="picturename" pattern="[a-zA-Z0-9]{2,20}" class="form-control" placeholder="Caractère AlphaNumérique" />
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <a class="btn btn-danger" id="restart" href="./paint">Recommencer</a>
                    <button class="btn btn-primary" id="validate" disabled>Enregistrer</button>
                    <input type="hidden" id="drawingCommands" name="drawingCommands"/>
                    <input type="hidden" id="picture" name="picture"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // la taille et la couleur du pinceau
    var size, color;
    // la dernière position du stylo
    var x0, y0;
    // le tableau de commandes de dessin à envoyer au serveur lors de la validation du dessin
    var drawingCommands = [];

    var setColor = function() {
        // on récupère la valeur du champs couleur
        color = document.getElementById('couleur').value;
    }

    var setSize = function() {
        size = document.getElementById('taille').value;
    }

    window.onload = function() {
        var canvas = document.getElementById('canvas');
        canvas.width = 400;
        canvas.height = 400;
        var context = canvas.getContext('2d');

        setSize();
        setColor();
        document.getElementById('taille').onchange = setSize;
        document.getElementById('couleur').onchange = setColor;

        var isDrawing = false;

        var startDrawing = function(e) {
            isDrawing = true;
        };

        var stopDrawing = function(e) {
            isDrawing = false;
        };

        var draw = function(e) {
            if(isDrawing) {
                var rect = canvas.getBoundingClientRect();
                drawingCommands.push({
                    command : "draw",
                    x : e.clientX - rect.left,
                    y : e.clientY - rect.top,
                    size: size / 2,
                    color: color
                });
                context.beginPath();
                context.fillStyle = color;
                context.arc(e.clientX - rect.left, e.clientY - rect.top, size / 2, 0, 2 * Math.PI);
                context.fill();
                context.closePath();
            }
        };

        canvas.onmousedown = startDrawing;
        canvas.onmouseout = stopDrawing;
        canvas.onmouseup = stopDrawing;
        canvas.onmousemove = draw;

        document.getElementById('restart').onclick = function() {
            drawingCommands.push({
                command : "clear"
            });
            context.clearRect(0, 0, canvas.width, canvas.height);
        };

        document.getElementById('picturename').onkeyup = function(){
            if(document.getElementById('picturename').value.length > 0)
                document.getElementById('validate').disabled = false;
            else
                document.getElementById('validate').disabled = true;
        };

        document.getElementById('validate').onclick = function() {
            // la prochaine ligne transforme la liste de commandes en une chaîne de caractères, et l'ajoute en valeur au champs "drawingCommands" pour l'envoyer au serveur.
            document.getElementById('drawingCommands').value = JSON.stringify(drawingCommands);

            // ici, exportez le contenu du canvas dans un data url, et ajoutez le en valeur au champs "picture" pour l'envoyer au serveur.
            document.getElementById('picture').value = canvas.toDataURL();
        };
    };
</script>

</div>
</body>
</html>